<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.zhiqaing.dao.StudentDao">
    <select id="findAllStudent" resultType="com.zq.zhiqaing.domain.Student">
        select * from student
    </select>

</mapper>